.git
.github
.venv
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.mypy_cache
.ruff_cache
.coverage
.coverage.*
htmlcov
.env
.env.*
!.env.example
.dagster_home
analytics/dashboard_outputs
**/.ipynb_checkpoints
**/target
**/dbt_packages
**/logs
